:root {
  --primary-color: #2196f3;
  --primary-color-alt: #1787e0;
  --main-transition-duration: 350ms;
  --main-line-height: 1.6;
  --main-section-padding: 82px;
  --header-height: 72px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #d3d3d3;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  color: var(--primary-color);
  font-size: 26px;
  font-weight: 700;
}

header .main-nav {
  display: flex;
}

header .main-nav > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  padding: 0 30px;
  color: black;
  transition: var(--main-transition-duration);
}
