:root {
  --primary-color: #2196f3;
  --primary-color-alt: #1787e0;
  --grey-color: #787878;
  --light-grey-color: #fafafa;
  --border-color: #e9e6e6;
  --section-background-color: #ececec;
  --transition-duration: 350ms;
  --line-height: 1.6;
  --section-padding: 82px;
  --main-radius: 8px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  margin: 0 auto 64px;
  padding: 10px 20px;
  border: 2px solid black;
  width: fit-content;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: var(--transition-duration);
}

.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 500ms;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 500ms linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 500ms linear forwards;
}

.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots {
  background-image: url(../assets/images/dots.png);
  width: 204px;
  height: 186px;
  background-repeat: no-repeat;
  position: absolute;
}

.dots-up {
  top: 100px;
  right: 0;
}

.dots-down {
  bottom: 100px;
  left: 0;
}

@media (max-width: 991px) {
  .dots {
    display: none;
  }
}

header {
  --header-height: 72px;
  position: relative;
  background-color: white;
  box-shadow: 0 0 8px #d3d3d3;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  color: var(--primary-color);
  font-size: 26px;
  font-weight: 700;
}

header .main-nav {
  display: flex;
}

header .main-nav > li:last-child:hover .mega-menu {
  top: calc(100% + 1px);
  z-index: 100;
  opacity: 1;
}

@media (max-width: 767px) {
  header .logo {
    width: 100%;
    font-size: 24px;
    height: 56px;
  }

  header .main-nav {
    margin: auto;
  }
}

header .main-nav > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  padding: 0 30px;
  font-size: 18px;
  color: black;
  transition: var(--transition-duration);
  position: relative;
  overflow: hidden;
}

header .main-nav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  transition: var(--transition-duration);
}

header .main-nav > li > a:hover {
  color: var(--primary-color);
  background-color: var(--light-grey-color);
}

header .main-nav > li > a:hover::before {
  left: 0;
}

@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 0 12px;
    margin-bottom: 5px;
    height: 36px;
  }
}

header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--primary-color);
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  z-index: -1;
  opacity: 0;
  transition: top var(--transition-duration), opacity var(--transition-duration);
}

header .mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }

  header .mega-menu .image {
    display: none;
  }
}

@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}

header .mega-menu > ul {
  min-width: 250px;
  flex: 1;
}

header .mega-menu > ul li {
  position: relative;
}

header .mega-menu > ul li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

@media (max-width: 767px) {
  header .mega-menu > ul:first-of-type li:last-child {
    border-bottom: 1px solid var(--border-color) !important;
  }
}

header .mega-menu > ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--light-grey-color);
  z-index: -1;
  transition: var(--transition-duration);
}

header .mega-menu > ul li:hover::before {
  width: 100%;
}

header .mega-menu > ul li a {
  display: block;
  padding: 15px;
  color: var(--primary-color);
  font-size: 18px;
}

header .mega-menu > ul li a i {
  margin-right: 10px;
}

.landing {
  position: relative;
  overflow: hidden;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 120%;
  height: 100%;
  background-color: #ececec;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .text {
  flex: 1;
}

.landing .text h1 {
  font-size: 36px;
  letter-spacing: -1px;
}

.landing .text p {
  font-size: 24px;
  line-height: var(--line-height);
  color: var(--grey-color);
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }

  .landing .text {
    font-size: 24px;
  }

  .landing .text p {
    font-size: 18px;
    margin: 8px auto;
  }
}

.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5000ms linear infinite;
}

@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}

.landing .go-down {
  color: var(--primary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  transition: var(--transition-duration);
}

.landing .go-down:hover {
  color: var(--primary-color-alt);
}

.landing .go-down i {
  animation: bouncing 1500ms infinite;
}

.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.articles .box {
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 0.1);
  border-radius: var(--main-radius);
  overflow: hidden;
  transition: transform var(--transition-duration),
    box-shadow var(--transition-duration);
}

.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
}

.articles .box img {
  max-width: 100%;
}

.articles .box .content {
  padding: 20px;
}

.articles .box .content h3 {
  margin: 0;
}

.articles .box .content p {
  color: var(--grey-color);
  line-height: var(--line-height);
  padding: 10px 0 0;
}

.articles .box .info {
  padding: 20px;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--primary-color);
  font-weight: bold;
}

.articles .box .info i {
  color: var(--primary-color);
}

.articles .box:hover i {
  animation: moving-arrow 600ms linear infinite;
}

.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: var(--section-background-color);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.gallery .box {
  padding: 15px;
  overflow: hidden;
  background-color: white;
  border-radius: var(--main-radius);
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
  position: relative;
}

.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgb(255 255 255 / 20%);
  opacity: 0;
  z-index: 3;
}

.gallery .box .image:hover::before {
  animation: flashing 800ms;
}

.gallery .box .image img {
  max-width: 100%;
  transition: var(--transition-duration);
}

.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.3);
}

.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: white;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.features .box {
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: var(--main-radius);
}

.features .box .image-holder {
  position: relative;
  overflow: hidden;
  border-radius: var(--main-radius) var(--main-radius) 0 0;
}

.features .box .image-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.features .box .image-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 175px 650px;
  border-color: transparent transparent white transparent;
  transition: var(--transition-duration);
}

.features .box:hover .image-holder::after {
  border-width: 0 650px 175px 0;
}

.features .box .image-holder img {
  max-width: 100%;
}

.features .box h2 {
  position: relative;
  margin: auto;
  font-size: 40px;
  width: fit-content;
  padding: 15px;
}

.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 15px;
  width: calc(100% - 30px);
  height: 3px;
}

.features .box p {
  font-size: 20px;
  color: var(--grey-color);
  line-height: var(--line-height);
  padding: 20px;
  margin: 15px 0;
}

.features .box a {
  display: block;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: bold;
  border-radius: var(--main-radius);
  transition: var(--transition-duration);
}

.features .quality .image-holder::before {
  background-color: #f44036;
}

.features .quality h2::after {
  background-color: #f44036;
}

.features .quality a {
  color: #f44036;
  border: 2px solid #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .time .image-holder::before {
  background-color: #009688;
}

.features .time h2::after {
  background-color: #009688;
}

.features .time a {
  color: #009688;
  border: 2px solid #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion .image-holder::before {
  background-color: #03a9f4;
}

.features .passion h2::after {
  background-color: #03a9f4;
}

.features .passion a {
  color: #03a9f4;
  border: 2px solid #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover a {
  background-position: left bottom;
  color: white;
  border: 2px solid white;
}

.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: var(--section-background-color);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.08);
  border-radius: var(--main-radius);
  position: relative;
}

.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background-color);
}

.testimonials .box h3 {
  margin: 0 0 8px;
}

.testimonials .box span.title {
  display: block;
  color: var(--grey-color);
  opacity: 0.6;
  margin: 0 0 12px;
}

.testimonials .box .rate {
  color: #ffc107;
}

.testimonials .box p {
  color: var(--grey-color);
  line-height: var(--line-height);
  margin: 12px 0 0;
}

.team-members {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: white;
}

.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.team-members .box {
  position: relative;
  z-index: 0;
}

.team-members .box::before,
.team-members .box::after {
  content: "";
  background-color: #e4e4e4;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: var(--main-radius);
  transition: var(--transition-duration);
}

.team-members .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}

.team-members .box::after {
  background-color: #f3f3f3;
  width: 0;
  z-index: -1;
}

.team-members .box:hover::after {
  width: calc(100% - 60px);
}

.team-members .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.team-members .data img {
  max-width: 100%;
  width: calc(100% - 60px);
  filter: grayscale(100%);
  border-radius: var(--main-radius);
  transition: var(--transition-duration);
}

.team-members .box:hover .data img {
  filter: grayscale(0%);
}

.team-members .data .social-icons {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-members .data .social-icons li {
  padding-top: 24px;
}

.team-members .data .social-icons li a i {
  color: var(--grey-color);
  transition: var(--transition-duration);
}

.team-members .data .social-icons li a:hover i {
  color: var(--primary-color);
}

.team-members .box .info {
  padding: 16px 0 24px 80px;
}

.team-members .info h3 {
  font-size: 22px;
  color: var(--grey-color);
  transition: var(--transition-duration);
}

.team-members .box:hover .info h3 {
  color: var(--primary-color);
}

.team-members .info p {
  margin-top: 8px;
}

@media (max-width: 767px) {
  .team-members .box::before,
  .team-members .box::after {
    background-color: #e4e4e4;
  }

  .team-members .box::before {
    background-color: #f3f3f3;
  }

  .team-members .box::after {
    background-color: #e4e4e4;
  }

  .team-members .data img {
    filter: grayscale(0%);
  }

  .team-members .box:hover .data img {
    filter: grayscale(100%);
  }

  .team-members .info h3 {
    color: var(--primary-color);
  }

  .team-members .box:hover .info h3 {
    color: var(--grey-color);
  }
}

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
  position: relative;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--transition-duration);
  position: relative;
}

.services .box:hover {
  transform: translateY(-10px);
}

.services .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background-color: var(--primary-color);
  transition: var(--transition-duration);
}

.services .box:hover::before {
  width: 100%;
}

.services .box i {
  display: block;
  margin: 30px auto;
  text-align: center;
  color: #d5d5d5;
}

.services .box h3 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--primary-color);
  font-size: 24px;
}

.services .box .info {
  position: relative;
  padding: 15px;
  background-color: var(--light-grey-color);
  text-align: right;
}

.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding-right: 15px;
}

.services .box .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  background-color: #d5d5d5;
  width: 50px;
  height: calc(100% + 0.5px);
  transform: skewX(-30deg);
}

.services .box .info a {
  color: var(--grey-color);
  transition: var(--transition-duration);
}

.services .box .info a:hover {
  color: var(--primary-color);
}

.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: white;
}

.our-skills .container {
  display: flex;
  align-items: center;
}

.our-skills img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}

.our-skills .skills {
  flex: 1;
}

.our-skills .skill h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-skills .skill h3 span {
  font-size: 14px;
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  padding: 3px 6px;
  border-radius: calc(var(--main-radius) / 2);
}

.our-skills .skill .progress {
  height: 32px;
  background-color: var(--section-background-color);
  position: relative;
  margin: 10px 0 20px;
  border-radius: calc(var(--main-radius) / 2);
}

.our-skills .skill .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: calc(var(--main-radius) / 2);
}

.how-it-works {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: var(--section-background-color);
}

.how-it-works .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.how-it-works .container > img {
  max-width: 100%;
  margin-right: 100px;
}

.how-it-works .box {
  display: flex;
  align-items: center;
  background-color: #f6f5f5;
  padding: 32px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: var(--main-radius);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.how-it-works .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: var(--section-background-color);
  transition-duration: calc(var(--transition-duration) * 2);
  z-index: -1;
}

.how-it-works .box:hover::before {
  width: 200%;
  height: 200%;
}

.how-it-works .box > img {
  max-width: 100%;
  width: 64px;
  margin-right: 32px;
}

.how-it-works .box .text p {
  color: var(--grey-color);
  line-height: var(--line-height);
  margin: 12px 0 0;
}

@media (max-width: 991px) {
  .how-it-works .container {
    flex-direction: column;
  }

  .how-it-works .container > img {
    margin: 0 auto 48px;
  }
}

@media (max-width: 767px) {
  .how-it-works .container .box {
    flex-direction: column;
  }

  .how-it-works .box > img {
    margin: 0 auto 12px;
  }

  .how-it-works .box {
    text-align: center;
  }
}

.events {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: white;
}

.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.events .container > img {
  max-width: 450px;
}

.events .info {
  flex: 1;
}

.events .info .time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
}

.events .time .unit {
  border: 1px solid var(--border-color);
  border-radius: calc(var(--main-radius) / 2);
  text-align: center;
  width: 75px;
  transition: var(--transition-duration);
}

.events .time .unit:hover,
.events .time .unit:hover span:last-child {
  border-color: var(--primary-color);
}

.events .time .unit span {
  display: block;
  transition: var(--transition-duration);
}

.events .time .unit span:first-child {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
  padding: 15px;
}

.events .time .unit span:last-child {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid var(--border-color);
}

.events .info .text {
  text-align: center;
}

.events .text h2 {
  margin: 40px 0 0;
}

.events .text p {
  margin-top: 20px;
  line-height: var(--line-height);
  color: var(--grey-color);
  font-size: 18px;
}

.events .container .subscribe {
  width: 100%;
}

.events .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 64px;
  display: flex;
  gap: 24px;
  transition: var(--transition-duration);
}

.events form input[type="email"] {
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 64px;
  flex: 1;
  caret-color: var(--primary-color);
  font-size: 20px;
  transition: var(--transition-duration);
}

.events form input[type="email"]:focus {
  outline: 1px solid var(--primary-color);
}

.events form input[type="email"]::placeholder {
  transition: var(--transition-duration);
}

.events form input[type="email"]:focus::placeholder {
  opacity: 0;
}

.events form input[type="submit"] {
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 64px;
  cursor: pointer;
  transition: var(--transition-duration);
}

.events form input[type="submit"]:hover {
  background-color: var(--primary-color-alt);
}

.events form input[type="submit"]:focus {
  outline: 1px solid var(--primary-color);
}

@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }

  .events form input[type="email"],
  .events form input[type="submit"] {
    border-radius: 0;
  }
}

@media (max-width: 991px) {
  .events .container > img {
    display: none;
  }
}

.pricing-plans {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: var(--section-background-color);
}

.pricing-plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing-plans .box {
  position: relative;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
  transition: var(--transition-duration);
  background-color: white;
  text-align: center;
  border-radius: var(--main-radius);
  z-index: 1;
}

.pricing-plans .box::before,
.pricing-plans .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f5f5;
  transition: var(--transition-duration);
  z-index: -1;
}

.pricing-plans .box::before {
  border-radius: var(--main-radius) var(--main-radius) 0 0;
  left: 0;
  top: 0;
}

.pricing-plans .box::after {
  border-radius: 0 0 var(--main-radius) var(--main-radius);
  right: 0;
  bottom: 0;
}

.pricing-plans .box:hover::before,
.pricing-plans .box:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing-plans .box.popular {
    top: -20px;
  }
}

.pricing-plans .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px;
  right: 20px;
  width: 40px;
}

.pricing-plans .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent white transparent;
}

.pricing-plans .box h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1;
  margin: 30px 0;
}

.pricing-plans .box > img {
  max-width: 100%;
  width: 80px;
  margin-bottom: 30px;
}

.pricing-plans .box .price {
  margin-bottom: 20px;
}

.pricing-plans .box .price span:first-child {
  display: block;
  font-size: 64px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.pricing-plans .box .price span:last-child {
  color: var(--grey-color);
}

.pricing-plans .box ul {
  text-align: left;
}

.pricing-plans .box ul li {
  padding: 20px;
  border-top: 1px solid var(--border-color);
}

.pricing-plans .box ul li::before {
  content: "\f00c";
  font: var(--fa-font-solid);
  margin-right: 8px;
  color: var(--primary-color);
}

.pricing-plans .box a {
  display: block;
  width: fit-content;
  padding: 15px 20px;
  margin: 30px auto 40px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  border-radius: calc(var(--main-radius) / 2);
  transition: var(--transition-duration);
}

.pricing-plans .box a:hover {
  background-color: var(--primary-color-alt);
  border-color: var(--primary-color-alt);
  color: white;
}

.top-videos {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
  position: relative;
}

.top-videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background-color);
  border: 1px solid #d3d3d3;
}

.top-videos .list {
  min-width: 300px;
  background-color: white;
}

.top-videos .list .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
}

.top-videos .list ul li {
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  transition: var(--transition-duration);
  cursor: pointer;
}

.top-videos .list ul li:hover {
  color: var(--primary-color);
  background-color: var(--light-grey-color);
}

.top-videos .list ul li span {
  display: block;
  margin-top: 10px;
  color: var(--grey-color);
}

.top-videos .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-videos .preview img {
  max-width: 100%;
}

.top-videos .preview .info {
  padding: 20px;
  margin-top: 10px;
  background-color: white;
}

@media (max-width: 991px) {
  .top-videos .holder {
    flex-direction: column;
  }
}

.statistics {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: var(--section-background-color);
  background-image: url(../assets/images/stats.jpg);
  background-size: cover;
  min-height: 300px;
}

.statistics::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255 255 255 / 95%);
}

.statistics h2 {
  position: relative;
  font-size: 40px;
  text-align: center;
  margin-bottom: 48px;
}

.statistics .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.statistics .box {
  position: relative;
  background-color: white;
  text-align: center;
  padding: 30px 15px;
  opacity: 0.8;
  transition: var(--transition-duration);
}

.statistics .box::before,
.statistics .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--primary-color);
  transition: calc(var(--transition-duration) * 2.5);
}

.statistics .box::before {
  bottom: 0;
  right: 0;
}

.statistics .box::after {
  top: 0;
  left: 0;
}

.statistics .box:hover::before,
.statistics .box:hover::after {
  height: 100%;
}

.statistics .box:hover {
  opacity: 1;
}

.statistics .box span:first-of-type {
  display: block;
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}

.statistics .box span:last-of-type {
  font-style: italic;
  font-size: 20px;
}

@media (max-width: 767px) {
  .statistics h2 {
    font-size: 28px;
  }
}

.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.discount .image {
  background-image: url(../assets/images/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  animation: change-background 10000ms linear infinite;
}

.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 97%;
  z-index: -1;
}

.discount .content {
  text-align: center;
  padding: 0 20px;
}

.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.discount .content p {
  line-height: var(--line-height);
  font-size: 18px;
  max-width: 500px;
  margin-bottom: 20px;
}

.discount .image .content img {
  width: 300px;
  max-width: 100%;
}

.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  background-color: #f9f6f6;
  caret-color: var(--primary-color);
}

.discount .form textarea.input {
  resize: none;
  height: 180px;
}

.discount .form .input:focus {
  outline: none;
}

.discount form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--transition-duration);
}

.discount form input[type="submit"]:hover {
  background-color: var(--primary-color-alt);
}

@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }

  .discount .form {
    flex-basis: 100%;
  }

  .discount .content h2 {
    margin: 20px 0;
  }

  .discount .form {
    margin-bottom: 20px;
  }
}

footer {
  background-color: #191919;
  padding: 70px 0 0;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

footer .box h3 {
  color: white;
  font-size: 48px;
  margin: 0 0 20px;
}

footer .box .social-icons {
  display: flex;
}

footer .box .social-icons li {
  margin-right: 10px;
}

footer .box .social-icons li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--transition-duration);
}

footer .box .social-icons li a.facebook:hover {
  background-color: #1877f2;
}

footer .box .social-icons li a.twitter:hover {
  background-color: #1da1f2;
}

footer .box .social-icons li a.youtube:hover {
  background-color: #ff0000;
}

footer .box .text {
  margin-top: 10px;
  line-height: calc(var(--line-height) * 1.2);
  color: #b9b9b9;
}

footer .box .links li {
  padding: 15px 0;
  transition: var(--transition-duration);
  position: relative;
}

footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

footer .box .links li::before {
  content: "\F101";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 10px;
  color: var(--primary-color);
}

footer .box .links li:hover {
  padding-left: 10px;
}

footer .box .links li a {
  color: #b9b9b9;
  transition: var(--transition-duration);
}

footer .box .links li:hover a {
  color: white;
}

footer .box .line {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

footer .box .line i {
  font-size: 25px;
  color: var(--primary-color);
  margin-right: 10px;
}

footer .box .line .info {
  line-height: calc(var(--line-height) * 1.1);
  flex: 1;
}

footer .box .line .info span {
  display: block;
}

footer .box .footer-gallery {
  display: flex;
  flex-wrap: wrap;
}

footer .footer-gallery img {
  width: 78px;
  max-width: 100%;
  border: 3px solid white;
  margin: 2px;
}

footer .copyright {
  padding: 25px 0;
  margin: 50px 0 0;
  text-align: center;
  border-top: 1px solid #444;
  color: white;
}

footer .copyright a {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }

  footer .box .social-icons {
    align-items: center;
    justify-content: center;
  }

  footer .box .line {
    flex-direction: column;
  }

  footer .box .line i {
    margin-bottom: 10px;
  }
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  30%,
  40%,
  60%,
  70%,
  90% {
    transform: translateY(-12px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
    z-index: 5;
  }
}

@keyframes change-background {
  0%,
  100% {
    background-image: url(../assets/images/discount-background1.jpg);
  }

  50% {
    background-image: url(../assets/images/discount-background2.jpg);
  }
}
